@import url('https://fonts.googleapis.com/css2?family=K2D:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


html {

    height: 100%;

}

body {

    height: 100%;
    margin: 0;

}

.main-container {

    height: 100%;

}

.top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #00B6CC;
}


.menu-esquerda {
    width: 25%;
    display: flex;
}


.inicio {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-family: 'K2D', sans-serif;


}

.feedback {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu-meio {
    width: 50%;
}

h1 {
    font-family: 'K2D', sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#textOne {
    color: red;
    font-size: 25px;
    font-weight: bold;
    transform: translate(0px, 8px);


}

#textTwo {
    margin: 0px;
    padding: 0px;
    height: 10%;
    font-size: 35px;
    transform: translate(0px, -2px);


}


.menu-direita {
    width: 25%;
    display: flex;
}

.name {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.exit {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-family: 'K2D', sans-serif;
}


.conteudo {
    width: 100%;
    height: 89.5%;
    display: flex;
}

.conteudo-esquerda {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class-feedBack {
    width: 70%;
    height: 90%;
    background-color: #00B6CC;
    display: flex;
    flex-direction: column;
    border-radius: 150px 150px 150px 150px;
}

.class-feedBack-top {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-perfil {
    display: flex;
    justify-content: center;
}

input[type='file'] {
    display: none;
}

#imgPhoto {
    margin-top: 10px;
    height: 110px;
    width: 110px;
    padding: 10px;
    background-color: #eee;
    border: 5px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s;
}


#imgPhoto:hover {
    background-color: rgb(180, 180, 180);
    border: 5px solid #111;

}

.class-feedBack-meio {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dados-user {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.desempenho-user {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.class-feedBack-bot {
    width: 100%;
    height: 25%;
}


.conteudo-direita {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.barra,
.barraDois,
.barraTres,
.barraQuatro,
.barraCinco {
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(21, 19, 19);
    margin-top: 10px;
    margin-bottom: 10px;
}

.barra div,
.barraDois div,
.barraTres div,
.barraQuatro div,
.barraCinco div {
    height: 100%;
    border-radius: 10px;
    background-color: rgb(215, 11, 11);
}

#analise {
    transform: translate(0px, -30px);

}
